<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ja">
<head>
<meta charset="UTF-8" />
<title>Hello Thymeleaf</title>
</head>
<body>
	<h1>Hello Thymeleaf</h1>

	<table>
		<thead>
			<tr>
				<th>ID</th>
				<th>Value</th>
				<th>Col2</th>
				<th>Value2</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="rowMap : ${list}">
				<td th:each="entry : ${rowMap}" th:text="${entry.value}">1</td>
				<td th:remove="all" th:each="entry : ${rowMap}" th:text="${entry.key}">1</td>
				<td th:remove="all">value</td>
				<td th:remove="all">value2</td>
			</tr>
			<tr th:remove="all">
				<td th:remove="all">2</td>
				<td th:remove="all">valuevalue</td>
				<td th:remove="all">value2value2</td>
			</tr>
		</tbody>
	</table>

</body>
</html>
